.wrapper {
  width: 360px;
  margin: 0 auto;
}

.form .control-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-item: center;
  margin-bottom: .8rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

.error {
  color: red;
}