.wrapper {
  max-width: 960px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.control-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.error {
  color: red;
}

.hidden {
  visibility: hidden;
  display: none;
}